#navbar{
    background-color:#20837e;
    height: 100%;
    width: 100%;
    display:flex ;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#logo{
    margin:10 50px;
    
}

#logo img{
    padding: 5px;
    height: 50px;
    width: 50px;

}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size:16px ;
}

#navbar ul li a{
    color:white;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    background-color:rgb(255, 0, 0);
   
    border-radius: 20px;
    transition: all .7s ease;
}

.srch{
    margin-left: 100px;
}


.log{
    margin-left: 650px;
    padding: 3px;
    height: 25px;
    width: 70px;
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 4px red;

}
.log:hover{
    background-color: rgb(0, 255, 157);
    
}
.sign:hover{
    background-color: rgb(0, 255, 157);
    
}
.sign{
    margin-left: 5px;
    padding: 3px;
    height: 25px;
    width: 70px;
    border: 2px solid grey;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 4px red;

}